.size-50 {
    width: 50%;
}

.container {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.information-container {
    justify-content: center;
    margin-block: 50px;
}

.information-card {
    margin: auto;
    border: 1px solid var(--base-color);
    border-radius: 35px;
    padding: 15px;
}

.responsive {
    justify-content: space-around;
}

@media (max-width: 500px) {
    .responsive {
        flex-direction: column !important;
    }

    .heading-text {
        font-size: x-large;
    }
}