.container {
    height: 35vh;
    background-color: var(--base-color);
    color: var(--color-gray);
    padding-block: 40px;
    width: 100%;
}

.title-container {
    font-size: large;
    justify-content: center;
    width: 100%;
}

.names-container {
    width: 100%;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.names {
    justify-content: center;
    align-items: center;
    margin-block: 15px;
}