.header-container {
    background-color: white;
    justify-content: center;
    height: 460px;
}

.logo-container {
    margin: auto;
    align-items: center;
}

.slideshow-container {
    padding: 5px;
}

@media (max-width: 400px) {
    .header-container {
        height: 330px;
    }
}