.container {
    background-color: var(--base-color);
    color: var(--color-gray);
    border: 0 !important;
    text-align: center;
    cursor: pointer;
}

.option {
    background: var(--base-color) !important;
    font-size: large;
}

@media (max-width: 768px) {
    .option {
        font-size: small !important;
    }
}