.container {
    background-color: var(--base-color);
    min-height: var(--toolbar-container-height);
}

.column {
    justify-content: center;
}

.toolbar-wrapper {
    position: inherit;
    z-index: 999;
}